/* common css */
body{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
}

/* header */
header {
    
}
.logo{
    font-family: "Lato";
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 500;
}
.c_nav{

}
.menu{

}
.menu li a{
    font-family: "Lato";
    text-transform: uppercase;
    color: #8e8e8e !important;
    font-weight: 400;
    margin-left: 12px;
}
.menu li a:hover{
    color: #333333 !important;
}
.m_btn{
    border: none!important;
}
.m_btn::after{
    display: none !important;
}
.dp_show{
    top: 145% !important;
    left: -140px !important;
}
.m_input{
    border: none;
    border-radius: 0;
}
/* slider */
.slider{
    background-image: url('../image/slider.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.s_item{
    margin-right: 27% !important;

}
.s_item_active{
    box-sizing: border-box !important;
}
.slider-content{
    margin: 200px 0px;
}
.slider-content h1{
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
}
.slider-content p{
    margin: 45px 0px;
    width: 635px;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
}
.s_btn{
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: #ffffff;
    color: #333333;
    text-transform: uppercase;
    border: none;
    transition: 0.3s ease;
}
.s_btn:hover{
    letter-spacing: 0.1rem;
    color: #fff;
    background-color: #333333;
}
.s_btn i{
    margin-left: 15px;
}
/* welcome section */

.line{
    border-left: 2px solid #333333;
    width: 2px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.welcome{
    padding: 40px 0;
}
.w_title{
    text-align: center;
    font-family: "Lato";
    font-size: 30px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
}
.w_p{
    margin-top: 45px;
    margin-bottom: 40px;
    line-height: 30px;
}
.item{
    margin-top: 60px;
    padding: 0px 37px;
    border: 1px solid #cccccc;
    transition: 0.4s ease;
}
.item:hover{
   border: 1px solid #333333;
}
.item i{
    font-size: 40px;
    margin-bottom: 60px;
    margin-top: -20px;
    background-color: #fff;
    width: 41px;
}
.item h2{
    text-align: center;
    font-family: "Lato";
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
}
.item p{
    line-height: 27px;
    text-align: center;
}
.w_btn{
    font-family: "Roboto";
    color: #8e8e8e;
    font-weight: 700;
    border: none;
    background: transparent;
    text-align: center !important;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    margin-left: 75px;
    transition: 0.3s ease;
}
.w_btn i{
   
    font-size: 18px;
}
/* about us */
.about{
    padding-top: 50px;
    padding-bottom: 80px;
}
.a_img{

}
.a_p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.a_btn{
    border: 1px solid #8e8e8e;
}
/* project section */
.projects{
   padding-top: 5px;
   padding-bottom: 60px;
}
.p_title{
    margin-bottom: 20px;
}
.nav_item{
    margin: 0 auto !important;
}
.nav_item li a {
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 15px;
    line-height: 30px;
    text-transform: uppercase;
    border: 1px solid #333333;
    transition: 0.3s ease;
}
.nav_item li a:hover{
   color: #fff;
   background-color: #8e8e8e;
}
.p_img{
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.p_img img{
    width: 100%;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
}
.o_icon{
    position: absolute;
    right: 43%;
    bottom: 50%;
}
.o_icon i{
    font-size: 60px;
    color: #fff;
}
.o_text{
    padding: 10px 0px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.o_text h2{
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    margin-left: 10px;
    color: #333333;
}
.o_text p{
    margin-left: 10px;
    color: #8e8e8e;
}
.p_img:hover .overlay{
    opacity: 1;
}
/* works item */
.works{
    padding: 60px 0px;
}

.p_t{
    
}
.work_item{
    padding-top: 40px;
    transition: all 0.3s ease-in;
}
.work_item:hover{
    transform: scaleX(0.9);
    cursor: pointer;
}
.work_item h1:hover{
    color: #333333;
}
.work_item i{
    font-size: 30px;
    line-height: 60px;
    margin-right: 10px;
}
.work_item h1{
    font-family: "Lato";
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}
.work_item p{
    line-height: 27px;
}
/* team start */
.team{
    background-image: url('../image/team-bg.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
.team-h1{
    padding-top: 10px;
}
.t_item{
  padding-top: 60px;
  padding-bottom: 80px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.t_item img{
    margin-bottom: 20px;
    transition: all 0.3s ease;
}
.box-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.content{
    width: 100%;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 25%;
    margin: auto;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease;
}
.social {
    list-style: none !important;
}
.social li a{
    color: #333333;
    background-color: #fff;
    font-size: 26px;
    display: block;
    width: 35px;
    transition: all 0.3s;
    text-align: center;
}
.content:hover{
    opacity: 1;
}
.social li a:hover{
    color: #fff;
    background-color: #333333;
}
.team_title{
    padding: 10px 0px;
    width: 255px;
    background-color: #ffffff;
}
.team_title h1{
    font-family: "Lato";
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #333333;
}
.team_title p{
    text-transform: capitalize;
}
/* pricing */
.pricing{

}

.p_item{
    margin: 60px 0px;
    border: 1px solid #9e9c9c;
    padding: 55px 30px;
    transition: 0.4s ease;
}
.p_item:hover{
    border: 1px solid #333333;
    transform: scale(0.9);
}
.p_item h2{
    font-family: "Lato";
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 45px;
    margin-top: -70px;
    background-color: #fff;
    width: 55px;
}
.p_item h1{
    font-size: 36px;
    line-height: 30px;
    color: #333333;
}
.p_item p{
    line-height: 40px;
}
/* buy */
.buy{
    background-color: #f8f8f8;
}
.b_now{
    margin: 30px 0px;
    overflow: hidden;
}
.b_now h1{
    margin-top: 18px;
    font-family: "Lato";
    font-size: 18px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
    float: left;
}
.p_btn{
    float: right;
    border: 1px solid #333333;
}
/* slider 2 */
.slider-2{
    padding: 50px 0px;
}
.sl_item{
    border: 1px solid #8e8e8e;
    padding: 2px 30px;
}
.sl_item h1{

}
.sl_item p{

}

.sl_btn a {
    margin: 0px 50px;
    text-decoration: none;
    padding: 10px 5px;
    border: 1px solid #333333;
    writing-mode: vertical-lr;
}
/* contact */
.contact{
    padding: 80px 0px;
}
.c_h1{
    margin-top: -118px;
    margin-bottom: 100px;
    background-color: #fff;
    width: 150px;
}
.c_form{
    border: 1px solid #8e8e8e;
    padding: 100px 150px;
}
.c_form input{
    border: none;
    border-radius: 0px !important;
    border-bottom: 1px solid #8e8e8e !important;
    margin-top: 30px;
    outline: none !important;
}
.c_btn{
    margin-top: 50px;
   
}
/* footer */
.footer1{
background-image: url('../image/fotter.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.footer1 p{
    margin: 20px 0px;
    color: #f8f8f8;
}
.f_title{
    color: #fff;
}
.f_icon{

}
.f_icon i{
    font-size: 38px;
    transition: 0.4s ease ;
    cursor: pointer;
}
.f_icon i:hover{
    color: #f8f8f8;
}

.footer2{
    margin-top: 40px;
    margin-bottom: 30px;
}
.left{
    float: left;
}
.left p{
    text-transform: capitalize;
}
.right{
    float: right;
}
.right ul li{
    list-style: none;
}
.right ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f8f8f8;
    margin-left: 15px;
    transition: 0.4s;
    cursor: pointer;
}
.right ul li a:hover{
    letter-spacing: 0.1rem;
}